
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <label>Name:</label>
    <input type="text" name="Name" value="" />
    <br />
    <label>Description:</label>
    <input type="text" name="Description" value="" />
    <br />  
    <button type="submit">Submit</button>
</form>
