
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <label>Name:</label>
    <input type="text" name="Name" value="" />
    <br />
    <label>Description:</label>
    <input type="text" name="Description" value="" />
    <br />
    <label>Image:</label>
    <input type="hidden" name="ImageURL" id="ImageURL" />
    <input type="file" name="Image" id="ImageUpload" accept=".png, .jpg" />
    <br />
    <img id="categoryImage" />
    <br />
    <button type="submit">Submit</button>

</form>

<script type="~/Content/text/javascript" src="~/Content/js/jquery.min.js"></script>

<script>
    $("#ImageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                console.log(response.Success);
                console.log(response.ImageURL);
                if (response.Success) {
                    $("#categoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);

                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>